# Sierra GPS interfaces - use gpsd instead of MM
#  note on udev matching: it seems all ATTRS matches must be found at the same
#  level, so we must use ENV{ID_VENDOR_ID} to be able to match against bInterfaceNumber
SUBSYSTEM=="tty",ACTION=="add",ENV{ID_VENDOR_ID}=="2c7c",ATTRS{bInterfaceNumber}=="02",SYMLINK="gps%n",ENV{ID_MM_PORT_IGNORE}="1",RUN+="/usr/sbin/gpsdctl add $devnode"
SUBSYSTEM=="tty",ACTION=="remove",ENV{ID_VENDOR_ID}=="2c7c",ATTRS{bInterfaceNumber}=="02",RUN+="/usr/sbin/gpsdctl remove $devnode"
