[Unit]
Description=Set hostname using nvram
Requires=local-fs.target
After=local-fs.target
Requires=systemd-hostnamed.service
After=systemd-hostnamed.service

[Service]
EnvironmentFile=/etc/default/systemname
Type=oneshot
ExecStart=/usr/bin/dr-hostname $SYSTEMNAME
ExecStartPost=/bin/systemctl disable dr-hostname.service
RemainAfterExit=Yes

[Install]
WantedBy=multi-user.target
