[Unit]
Description=DR panic
DefaultDependencies=no
Conflicts=shutdown.target
Conflicts=rescue.service
Before=shutdown.target
Before=rescue.service

[Service]
ExecStartPre=-/usr/bin/status-led red
ExecStart=/bin/systemctl reboot

[Install]
WantedBy=emergency.target
